<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <a href="/test">テストページ</a>
    <% require 'pg' %>
        <% connection = PG::connect(dbname: "goya") %>
        <% connection.internal_encoding = "UTF-8" %>
        <% result1 = connection.exec("select give_for, length, weight from crops where not give_for = '自家消費';") %>
        <% data1 = [] %>
        <% result1.each do |record1| %>
        <% data1 << "「相手：#{record1["give_for"]}　ゴーヤの長さ：#{record1["length"]}cm　ゴーヤの大きさ：#{record1["weight"]}g 」" %>
        <% end %>
    <form action="give.cgi" method="post">
      <input type="text" name="give" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信">
    </form>
    <% result2 = connection.exec("select give_for, length, weight from crops where quality = false;") %>
    <% data2 = [] %>
    <% result2.each do |record2| %>
    <% data2 << "「消費先：#{record2["give_for"]}　ゴーヤの長さ：#{record2["length"]}cm　ゴーヤの大きさ：#{record2["weight"]}g 」" %>
    <% end %>
<form action="give.cgi" method="post">
  <input type="text" name="give" value="<%= data2.join(' ') %>">
  <input type="submit" name="送信">
</form>
  </body>
</html>
